.conteinerForm {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.conteinerObservation {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 45%;
  padding: 1em 2em 1em 1em;
  border-radius: 5px;
  background-color: var(--gray-202);
}
.conteinerWidthAll {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 93.5%;
  padding: 1em 2em 1em 1em;
  border-radius: 5px;
  background-color: var(--gray-202);
}

.boxToAlignTitleLearning {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.conteinerLearning {
  display: flex;
  width: 100%;
  gap: 2em;
}
.boxLearning {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.conteinerObsCycle {
  display: flex;
  width: 100%;
  gap: 2em;
}
.boxStatus {
  width: 15em;
}
.labelStandard {
  gap: 0.2rem;
}

.inputStandard {
  all: unset;
  text-align: start;
  width: 100%;
  padding-left: 0.7rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  margin-top: 0.2rem;
  background-color: var(--white);
  cursor: text;
}
.confirmButton,
.cancelButton {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0px 10px 20px 0px var(--black-200);
  margin-top: -10px;
  transition: all 0.3s ease;
}

.confirmButton {
  background-color: var(--verde-learn);
  color: var(--white);
}

.cancelButton {
  background-color: var(--red-300);
  color: var(--white);
}

.confirmButton:hover,
.cancelButton:hover {
  transform: translateY(-2px);
  box-shadow: 0px 12px 25px 0px var(--black-200);
}

.confirmButton:active,
.cancelButton:active {
  transform: translateY(0);
  box-shadow: 0px 6px 12px 0px var(--black-200);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}
.inputSelect {
  text-align: start;
  width: 101%;
  padding-left: 0.7rem;
  height: 2.5rem;
  max-height: 3rem;
  overflow-y: visible;
  color: var(--azul-tenro);
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  margin-top: 0.2rem;
  background-color: var(--white);
  cursor: pointer;
}

.inputSelect:focus-within {
  box-shadow: 0 0 5px var(--gray-200);
}
.inputSelect:focus {
  outline: transparent;
}
