.pageContainer {
  width: 100%;
  min-height: 20vh;
  margin-bottom: 5em;
}

.pageContentContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 1.7em;
  padding: 1.2em;
  padding-bottom: 0;
  margin-bottom: 2rem;
}
.boxBtn {
  width: 100%;
}
.boxNome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3.5rem;
  box-shadow: 0px -3px 3px var(--dark-gray);
  background-color: var(--black-14);
  align-items: center;
  padding: 0.3rem;
  text-align: center;
  width: 9.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.3rem;
  border-radius: 5px;
}

.boxCardLesson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--verde-tech);
  width: 11rem;
  height: 10.8rem;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  font-size: 0.87rem;
}

.cardLessons {
  display: flex;
  flex-direction: column;

  justify-content: end;
  align-items: center;
  color: var(--white);
  width: 10rem;
  height: 10rem;
  background: linear-gradient(to bottom, var(--azul-tech), var(--verde-tech));
  cursor: pointer;
  border-radius: 5px;
  background-image: url('/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.boxActions {
  display: flex;
  padding-top: 0.2rem;
  justify-content: end;
  width: 11rem;
  height: 1.8rem;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--verde-tech);
}
.cardLessons:hover {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
