.errorComponent {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--red-300);
  color: var(--red-300);
  font-weight: bold;
  background-color: var(--rose-200);
  box-shadow: 0 2px 4px var(--black-200);
  border-radius: 5px;
  bottom: 2rem;
  left: 2rem;
  width: 16rem;
  padding: 1rem;
  z-index: 15;
}
