:root {
  --white-2003: #f0f3f886;
  --white: #ffffff;
  --white-200: #eaf0f7;
  --white-300: #f1f5fa;
  --rose-200: #f0d7d7;
  --blue-300: #0db4b0;
  --blue-500: #0656ff;
  --gray-200: #bec8db;
  --gray-202: rgba(190, 200, 219, 0.5);
  --gray-100: rgba(211, 211, 211, 0.7);
  --gray-40: rgba(211, 211, 211, 0.4);
  --transparent: rgba(190, 200, 219, 0);
  --gray-300: #586571;
  --dark-gray: rgba(78, 78, 78, 0.2);
  --azul-tech: #31599c;
  --verde-tech: rgb(12, 182, 177);
  --verde-tech-claro: #B8FFDE;
  --verde-learn: rgb(0, 135, 157);
  --verde-learn-light: rgb(96, 171, 182);
  --azul-tech-opaque: rgb(49, 89, 156, 0.7);
  --azul-techt: rgb(49, 89, 156, 0.7);
  --verde-light: rgb(166, 206, 57);
  --verde-techt: rgb(12, 182, 177, 0.7);
  --azul-escuro: rgb(27, 41, 73);
  --azul-tenro: rgb(25, 44, 83);
  --black-14: rgba(0, 0, 0, 0.14);
  --black-200: rgba(0, 0, 0, 0.2);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-80: rgba(0, 0, 0, 0.8);
  --red-300: #ca1c1cce;
  --brown: brown;
  --blue-light: #7286a2;
  --smooth-blue: #d5ffff;
}

* {
  font-size: 16px;
  font-family: 'MuseoSansRounded300', 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MuseoSansRounded300';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('MuseoSansRounded300'), local('MuseoSansRounded300'),
    url('/fonts/-Museo/MuseoSansRounded300.otf') format('opentype');
}
