.contract_info {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 1rem;
  width: 100%;
}

.contract_info h2 {
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.contract_info p {
  font-size: 16px;
  margin-bottom: 0.3rem;
}
