@media screen and (max-width: 48rem) {
  .containerMain {
    width: 90%;
    min-width: 12.5rem;
    height: 35%;
  }
}

@media screen and (max-width: 30rem) {
  .containerMain {
    width: 90%;
    min-width: 12.5rem;
    height: 35%;
  }
}

.containerFundo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100vw;
  height: 100vh;
  background-image: url('/fundo_alternativo2.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.logoContainer {
  position: absolute;
  left: 50%;
  top: 13%;
  transform: translate(-50%, -50%);
  width: 10em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 110%;
  width: 200%;
  aspect-ratio: 2;
}

.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2.5rem;
  width: 23em;
  background-color: var(--white);
  padding: 1rem 3rem 0rem 3rem;
  margin-top: 8rem;
  box-shadow: 0rem 0rem 1.25rem 0rem var(--black-200);
  gap: 1.5em;
}

.labelLogin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputLogin {
  all: unset;
  text-align: start;
  width: 100%;
  padding-left: 0.7rem;
  height: 2.5rem;
  border-radius: 0.3125rem;
  border: 1px solid var(--gray-200);
  margin-top: 0.2rem;
  cursor: text;
}

.groupForm {
  width: 100%;
}

.btnLoginContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.6rem;
}

.btnLogin {
  all: unset;
  display: flex;
  border-radius: 6.25rem;
  height: 3rem;
  width: 8rem;
  color: var(--white);
  background-color: var(--verde-learn);
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0.3125rem 0.63rem var(--black-200);
  transition: transform 0.2s, box-shadow 0.2s;
}

.btnLogin:hover {
  transform: translateY(-0.1875rem);
  box-shadow: 0 0.63rem 1.25rem var(--black-200);
}

.btnLogin:active {
  transform: translateY(-0.063rem);
  box-shadow: 0 0.3125rem 0.63rem var(--black-200);
}

.btnLogin::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6.25rem;
  border: 0.125rem;
  border-color: var(--verde-light);
  background: var(--verde-learn);
  z-index: -1;
  opacity: 0;
  transition: all 0.4s;
}

.btnLogin:hover::after {
  opacity: 1;
  transform: scale(1.1);
}

.btnLoginTeste {
  display: flex;
  border-radius: 3rem;
  height: 3rem;
  width: 8rem;
  color: var(--blue-300);
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  padding: 1em 0.8em 1em 0.8em;
  font-family: 'Poppins', sans-serif;
  transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out;
  box-shadow: 0rem 0.19rem 0.63rem var(--black-200);
  user-select: none;
}

.btnLogin:hover {
  cursor: pointer;
}

.btnLoginTeste:hover {
  cursor: pointer;
}

.boxWarning {
  text-align: center;
  height: 2.5rem;
  padding-bottom: 3em;
}

.error {
  margin-bottom: 1em;
  color: var(--red-300);
}
.boxLoaderLogin {
  height: 3.3em;
}
.title {
  font-size: 2rem;
}
