.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--transparent);
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 2;
}

.container {
  font-size: 0.9rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1.5rem;
  width: 12rem;
  color: var(--gray-300);
  text-align: center;
  box-shadow: 0 0 10px var(--black-200);
  margin-top: 3.8em;
  margin-right: 1.1em;
}

.title {
  font-size: 1.3rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray-300);
}

.buttonContainer {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}

.btn {
  all: unset;
  cursor: pointer;
  font-weight: bold;
  color: var(--gray-300);
  padding: 0.5rem;
}

.btn:hover {
  background-color: var(--azul-escuro);
  color: var(--white);
  border-radius: 5px;
}
