.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--transparent);
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 2;
}

.container {
  font-size: 0.9rem;
  background-color: var(--white);
  border-radius: 10px;
  padding: 1rem;
  width: 10rem;
  height: 9rem;
  color: var(--gray-300);
  text-align: center;
  box-shadow: 0 0 10px var(--azul-escuro);
  margin: 2.4em 1.4em 0em 0em;
  border: solid 0.1em var(--azul-escuro);
}

.title {
  font-size: 1rem;
  margin-bottom: 1px;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--gray-300);
}

.buttonContainer {
  padding: 0.5rem 0.3rem;
  display: flex;
  flex-direction: column;
}

.btn {
  all: unset;
  cursor: pointer;
  font-weight: bold;
  color: var(--gray-300);
  padding: 0.5rem;
}

.btn-content {
  display: flex;
  align-items: center;
}

.btn:hover {
  background-color: var(--azul-escuro);
  color: var(--white);
  border-radius: 5px;
}

.text,
.icon {
  vertical-align: middle;
}
