.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--gray-202);
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.container {
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  color: var(--gray-300);
  max-width: 90%;
  text-align: center;
  box-shadow: 0 0 10px var(--black-200);
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
}

#text {
  text-align: center;
  font-size: 0.87rem;
  margin-bottom: 1.3em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
}

.confirmButton,
.cancelButton {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0px 10px 20px 0px var(--black-200);
  margin-top: 10px;
  transition: all 0.3s ease;
}

.confirmButton {
  background-color: var(--verde-learn);
  color: var(--white);
  margin-right: 10px;
}

.cancelButton {
  background-color: var(--red-300);
  color: var(--white);
}

.confirmButton:hover,
.cancelButton:hover {
  transform: translateY(-2px);
  box-shadow: 0px 12px 25px 0px var(--black-200);
}
