.backGroundModalAddUser {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(128, 128, 128, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
  width: 43rem;
  color: var(--gray-300);
  max-width: 90%;
  text-align: center;
  box-shadow: 0 0 10px #00000080;
  gap: 1rem;
}
.labelModalAddUser {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.inputAddUser {
  all: unset;
  text-align: start;
  width: 100%;
  padding-left: 0.7rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  margin-top: 0.2rem;
  cursor: text;
}
.inputSelect {
  text-align: start;
  width: 102%;
  padding-left: 0.7rem;
  height: 2.5rem;
  color: #7286a2;
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  margin-top: 0.2rem;
  cursor: pointer;
}

.inputSelect:focus-within {
  box-shadow: 0 0 5px var(--gray-200);
}
.inputSelect:focus {
  outline: transparent;
}

.inputAddUser:focus-within {
  box-shadow: 0 0 5px var(--gray-200);
}
.inputAddUser:focus {
  outline: transparent;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.confirmButton,
.cancelButton {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.confirmButton {
  background-color: #27ae60;
  color: #ffffff;
}
.cancelButton {
  background-color: #c0392b;
  color: #ffffff;
}
