.boxForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 50rem;
  max-width: 90%;
  max-height: 23rem;
  gap: 1rem;
  overflow-y: auto;
  text-align: center;
  box-shadow: 0 0 10px var(--black-200);
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.confirmButton,
.cancelButton {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0px 10px 20px 0px var(--black-200);
  margin-top: -10px;
  transition: all 0.3s ease; 
}

.confirmButton {
  background-color: var(--verde-learn);
  color: var(--white);
}

.cancelButton {
  background-color: var(--red-300);
  color: var(--white);
}

.confirmButton:hover,
.cancelButton:hover {
  transform: translateY(-2px);
  box-shadow: 0px 12px 25px 0px var(--black-200);
}

.confirmButton:active,
.cancelButton:active {
transform: translateY(0);
box-shadow: 0px 6px 12px 0px var(--black-200);
}

.boxStandard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  margin-top: 1rem;
}

.labelStandard {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.inputStandard {
  all: unset;
  text-align: start;
  width: 100%;
  padding-left: 0.7rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  margin-top: 0.2rem;
  cursor: text;
}

.btnLogin {
  all: unset;
  display: flex;
  border-radius: 6.25rem;
  height: 3rem;
  width: 8rem;
  color: var(--white);
  background-color: var(--verde-learn);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0.3125rem 0.63rem var(--black-200);
  transition: transform 0.2s, box-shadow 0.2s;
}

.btnLogin:hover {
  transform: translateY(-0.1875rem);
  box-shadow: 0 0.63rem 1.25rem var(--black-200);
}

.btnLogin:active {
  transform: translateY(-0.063rem);
  box-shadow: 0 0.3125rem 0.63rem var(--black-200);
}

.btnLogin::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6.25rem;
  border: 0.125rem;
  border-color: var(--verde-light);
  background: var(--verde-learn);
  z-index: -1;
  opacity: 0;
  transition: all 0.4s;
}

.btnLogin:hover::after {
  opacity: 1;
  transform: scale(1.1);
}

.btnLoginTeste {
  display: flex;
  border-radius: 3rem;
  height: 3rem;
  width: 8rem;
  color: var(--blue-300);
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  padding: 1em 0.8em 1em 0.8em;
  transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out;
  box-shadow: 0rem 0.19rem 0.63rem var(--black-200);
  user-select: none;
}

.btnLogin:hover {
  cursor: pointer;
}

.btnLoginTeste:hover {
  cursor: pointer;
}