.boxStandard {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.boxCidadeEstadoCepTel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  gap: 1.5rem;
}
.labelStandard {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.inputStandard {
  all: unset;
  text-align: start;
  width: 100%;
  padding-left: 0.7rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  margin-top: 0.2rem;
  color: var(--azul-tenro);
  cursor: text;
}
.inputStandardError {
  all: unset;
  text-align: start;
  width: 100%;
  padding-left: 0.7rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid var(--red-300);
  margin-top: 0.2rem;
  cursor: text;
}
.inputStandard:focus-within {
  box-shadow: 0 0 5px var(--gray-200);
}
.labelStandard {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.inputSelect {
  text-align: start;
  width: 102%;
  padding-left: 0.7rem;
  height: 2.5rem;
  color: var(--azul-tenro);
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  margin-top: 0.2rem;
  background-color: var(--white);
  cursor: pointer;
}

.inputSelect:focus-within {
  box-shadow: 0 0 5px var(--gray-200);
}
.inputSelect:focus {
  outline: transparent;
}

.boxEstadoTel,
.boxCidadeCep {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.uploadedImage {
  width: 6rem;
  object-fit: contain;
  height: 6rem;
  border-radius: 5px;
}

.inputFile {
  display: flex;
  justify-content: center;
  width: 102%;
  padding-left: 0.7rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  padding-top: 0.5rem;
  margin-top: 0.2rem;
}
.inputStandardAddEscola {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 102%;
  padding-left: 0.7rem;
  min-height: 2.5rem;
  max-height: auto;
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  margin-top: 0.2rem;
}
.buttonLabelEscola {
  all: unset;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  align-items: center;
  border-radius: 5px;
  width: 9rem;
  height: 1.5rem;
  border: 1px solid var(--gray-200);
}
.buttonRemoveEscola {
  all: unset;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  align-items: center;
  border-radius: 2px;
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid var(--gray-200);
  cursor: pointer;
}
.boxTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
.btnDropDownEscola {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
#selectDrop {
  all: unset;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 102%;
  cursor: pointer;
  overflow-y: auto;
  border-radius: 5px;
  max-height: 10rem;
  border: 1px solid var(--gray-200);
}
#selectDrop option:hover {
  background-color: var(--gray-200);
}
#selectDrop option {
  margin-top: 0.4rem;
}
.containerSenhasAddUser {
  display: flex;
  justify-content: space-between;
}
.boxSenhasAddUser {
  width: 48%;
}
.optionContainer {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 13px;
  max-height: calc(5 * 20px);
  overflow-y: auto;
}

.labelTitle {
  grid-column: span 2;
  font-weight: bold;
  margin-bottom: 16px;
}
.titleModalEditarVinculoAgetne {
  font-size: 20px;
  color: var(--gray-300);
}
.divCheckBoxVincularAgente {
  display: flex;
  align-items: center;
}

.checkBoxModalVincularAgente {
  margin-right: 0.3rem;
  cursor: pointer;
}

.searchSelectContainer {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  cursor: pointer;
}

.searchInput {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.optionsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #beb1b1;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  padding: 0.5em;
  font-size: 0.8em;
}

.scrollableOptionsContainer {
  margin-top: 0.5em;
  max-height: 300px;
  overflow-y: auto;
}

.optionItem {
  padding: 8px;
  text-align: start;

  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.optionItem:hover {
  background-color: #f0f0f0;
}
.boxsearchInput {
  display: flex;
  align-items: center;
  padding-right: 3px;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  align-items: center;
  padding-left: 3px;
}
.searchInputSelect {
  all: unset;
  width: 100%;
  padding: 8px;
  border-bottom: 0.03em solid black;
  text-align: start;
  outline: none;
  cursor: auto;
}
.boxStatus {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 102%;
}
