.boxBtns {
  display: flex;
  flex-direction: row-reverse;
}
.boxForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.labelStandard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.labelCheckBox {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.labelCheckBox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--verde-learn); 
  outline: none;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
  padding: 0.4rem;
  margin-left: 0.5rem;
}

.labelCheckBox input[type="checkbox"]:checked {
  background-color: var(--verde-learn);
  border-color: var(--verde-learn);
}

.labelCheckBox input[type="checkbox"]::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%; 
  left: 49%; 
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--white);
  transition: background-color 0.3s;
  opacity: 0;
}

.labelCheckBox input[type="checkbox"]:checked::before {
  opacity: 1; 
}

.inputCheckBox {
  width: 2rem;
  cursor: pointer;
}
.inputStandard {
  all: unset;
  text-align: start;
  width: 100%;
  padding-left: 0.7rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  margin-top: 0.2rem;
  cursor: text;
}

.inputSelect {
  text-align: start;
  width: 101%;
  padding-left: 0.7rem;
  height: 2.5rem;
  max-height: 3rem;
  overflow-y: visible;
  color: var(--azul-tenro);
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  margin-top: 0.2rem;
  background-color: var(--white);
  cursor: pointer;
}
.inputSelectReact {
  text-align: start;
  width: 101%;
  color: var(--azul-tenro);
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--gray-200);
}

.inputSelect:focus-within {
  box-shadow: 0 0 5px var(--gray-200);
}
.inputSelect:focus {
  outline: transparent;
}

.confirmButton,
.cancelButton {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0px 10px 20px 0px var(--black-200);
  margin-top: -10px;
  transition: all 0.3s ease;
}

.confirmButton {
  background-color: var(--verde-learn);
  color: var(--white);
}

.cancelButton {
  background-color: var(--red-300);
  color: var(--white);
}

.confirmButton:hover,
.cancelButton:hover {
  transform: translateY(-2px);
  box-shadow: 0px 12px 25px 0px var(--black-200);
}

.confirmButton:active,
.cancelButton:active {
  transform: translateY(0);
  box-shadow: 0px 6px 12px 0px var(--black-200);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}
