.boxBtns {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0.5em;
}

.boxForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.confirmButton,
.cancelButton {
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0px 10px 20px 0px var(--black-200);
  margin-top: -10px;
  transition: all 0.3s ease;
}

.confirmButton {
  background-color: var(--verde-learn);
  color: var(--white);
}

.cancelButton {
  background-color: var(--red-300);
  color: var(--white);
}

.confirmButton:hover,
.cancelButton:hover {
  transform: translateY(-2px);
  box-shadow: 0px 12px 25px 0px var(--black-200);
}

.confirmButton:active,
.cancelButton:active {
  transform: translateY(0);
  box-shadow: 0px 6px 12px 0px var(--black-200);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

.textArea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  font-size: 16px;
  resize: none;
  margin-top: 1rem;
  overflow-wrap: break-word;
  transition: border-color 0.3s;
}

.textArea:focus {
  outline: none; 
  border: 1px solid var(--verde-learn);
}

.selectContainer {
  margin-bottom: 1rem;
}

.error {
  color: var(--red-300);
  font-size: 14px;
  margin-top: 0.5rem;
}

.selectContainer {
  margin-bottom: 1rem;
}

.confidential {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.confidential input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--verde-learn); 
  outline: none;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
  padding: 0.4rem;
  margin-left: 0.5rem;
}

.confidential input[type="checkbox"]:checked {
  background-color: var(--verde-learn);
  border-color: var(--verde-learn);
}

.confidential input[type="checkbox"]::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%; 
  left: 49%; 
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--white);
  transition: background-color 0.3s;
  opacity: 0;
}

.confidential input[type="checkbox"]:checked::before {
  opacity: 1; 
}

.spacer {
  padding: 0.3rem;
}

.spacer2 {
  padding: 0.5rem;
}

.selectContainer {
  margin-bottom: 1rem;
  width: 20rem;
}

.inputSelect {
  text-align: start;
  width: 100%;
  padding-left: 0.7rem;
  height: 2.5rem;
  color: var(--azul-tenro);
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  margin-top: 0.2rem;
  cursor: pointer;
  transition: border-color 0.3s;
}

.inputSelect:focus-within {
  box-shadow: 0 0 5px var(--gray-200);
}

.inputSelect:focus {
  outline: transparent;
  border: 1px solid var(--verde-learn);
}
