.navBar {
  display: flex;
  position: fixed;
  padding-top: 1rem;
  top: 0;
  left: 0;
  bottom: 0;
  width: 17em;
  background-color: var(--white);
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  box-shadow: 2px 0px 10px var(--black-14);
  transition: transform 0.3s ease-out;
  transform: translateX(0);
}

.navBarButton {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 0.87em;
  color: var(--gray-300);
  text-decoration: none;
  padding: 1.23em 2em;
  user-select: none;

  transition: background-color 0.3s, color 0.3s;
}

.navBarButtonHidden {
  display: none;
}

.navBarButton:hover {
  color: var(--azul-tech);
}

.activeNavBarButton {
  background: linear-gradient(to bottom, var(--azul-tech), var(--verde-tech));
  border-radius: 0.9em;
  color: var(--white);
}

.activeNavBarButton:hover {
  color: var(--white);
}

.buttonsContainer {
  margin-top: 4.5em;
  padding: 1.4em;
}

.buttonsContainer:hover {
  cursor: pointer;
}

.text {
  margin-left: 0.7em;
}

.hidden {
  transform: translateX(-17em);
}
