.navBar {
  display: flex;
  position: fixed;
  padding-top: 1rem;
  top: 6.5%;
  left: -2em;
  bottom: 1%;
  width: 16.8em;
  background-image: url('/fundo_alternativo.png');
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  box-shadow: 2px 0px 18px var(--black-80);
  transition: width 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(0);
  border-top: solid var(--gray-200);
  border-bottom: solid var(--gray-200);
  border-right: solid var(--gray-200);
  border-radius: 40px;
}

.navBar.hidden{
  transform: translateX(-10em); 
}

.navBarButton {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 0.77em;
  color: var(--gray-100);
  text-decoration: none;
  padding: 1.23em 2em;
  left: -1em;
  margin-bottom: 20px;
  user-select: none;
  position: relative;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border-radius: 1em;
}

.navBarButtonHidden {
  display: none;
}

.navBarButton:hover {
  color: var(--white);
  background: var(--azul-tech-opaque);
  border-radius: 1em;
  border-color: solid var(--gray-300);
}

.activeNavBarButton {
  background: linear-gradient(to bottom, var(--azul-techt), var(--verde-techt));
  color: var(--white);
  transform: scale(1.1);
  border-radius: 1em;
  transition: transform 0.3s ease, border-color 0.3s;
}

.activeNavBarButton:hover {
  background: linear-gradient(to bottom, var(--azul-techt), var(--verde-techt));
  color: var(--white);
  transform: scale(1.1);
  border-radius: 1em;
  transition: transform 0.3s ease, border-color 0.3s;
}

.buttonsContainer {
  margin-top: 4.5em;
  padding: 2.4rem;
  border-radius: 1em;
}

.buttonsContainer:hover {
  cursor: pointer;
}

.text {
  margin-top: 0.1em;
  margin-left: 0.7em;
}

.iconHidable {
  position: absolute;
  color: var(--azul-tech);
  left: 8em;
  top: calc(4.5em + 1em);
  padding: 5px;
}






