.navBar {
  display: flex;
  position: fixed;
  padding-top: 1rem;
  top: 3.5rem;
  left: -2.05em;
  bottom: 0.6rem;
  width: 17em;
  background-image: url('/fundo_alternativo.webp');
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 2px 0px 18px var(--black-80);
  transition: width 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(0);
  border: solid 0.1em var(--gray-200);
  border-radius: 40px;
}

.hidden {
  transform: translateX(-11em);
}

.navBarButton {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  color: var(--gray-100);
  padding: 1.3em 2em;
  left: -0.4em;
  margin-bottom: 1.4em;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border-radius: 1em;
}

.navBarButtonHidden {
  display: none;
}

.navBarButton:hover {
  color: var(--white);
  background: var(--azul-tech-opaque);
  border-radius: 1em;
}

.activeNavBarButton {
  background: linear-gradient(to bottom, var(--azul-techt), var(--verde-techt));
  color: var(--white);
  transform: scale(1.1);
  border-radius: 1em;
  transition: transform 0.3s ease, border-color 0.3s;
}

.activeNavBarButton:hover {
  background: linear-gradient(to bottom, var(--azul-techt), var(--verde-techt));
  color: var(--white);
  transform: scale(1.1);
  border-radius: 1em;
  transition: transform 0.3s ease, border-color 0.3s;
}

.buttonsContainer {
  margin: 1em;
  padding: 0.9em;
  border-radius: 1em;
}

.buttonsContainer:hover {
  cursor: pointer;
}

.text {
  margin-left: 1em;
  font-size: 1em;
  flex-grow: 1;
}

.icon {
  font-size: 1.5em;
}

.iconContainer {
  overflow: visible;
  font-size: 0.8em;
}

.buttonHidden {
  margin-left: 11.8em;
  padding: 0.3em 0.8em;
  margin-bottom: 3em;
  transform: scale(1.1);
  color: var(--white);
  display: flex;
  align-items: center;

  justify-content: center;
  border-radius: 0.5em;
  transition: width 0.3s, height 0.3s;
}

.buttonHidden:hover {
  transform: scale(1.1);
}

.activeButtonHidden {
  color: var(--white);
  transform: scale(1.3);
  border-radius: 0.5em;
  transition: transform 0.3s ease, border-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.activeButtonHidden::before {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -1em;
  background: linear-gradient(to bottom, var(--azul-techt), var(--verde-techt));
  border-radius: 0.5em;
  z-index: -1;
  transition: transform 0.3s ease;
}
