.table {
  display: flex;
  margin-top: 1em;
  flex-direction: column;
}

.table table {
  border-collapse: collapse;
  flex-grow: 1;
}

.table th {
  border-collapse: collapse;
  border-top: 1px solid #eaf0f7;
  border-bottom: 2px solid #eaf0f7;
  padding: 1.1em;
  text-align: left;
  font-size: 0.8em;
}

.table td {
  border-collapse: collapse;
  padding: 1.1em;
  font-size: 0.8em;
  color: #7286a2;
}

.odd {
  background-color: #f1f5fa;
  border-collapse: collapse;
  border: 1px solid #eaf0f7;
  border-left: none;
  border-right: none;
}
.pagination {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--blue-300);
  cursor: pointer;
}
.boxInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.inputFilter {
  all: unset;
  text-align: start;
  width: 20%;
  padding-left: 0.7rem;
  height: 2rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  border-radius: 5px;
  color: var(--gray-300);
  border: 1px solid var(--gray-200);
  cursor: text;
}
.inputSelect {
  text-align: start;
  width: 20%;
  padding-left: 0.7rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
  height: 2rem;
  font-size: medium;
  color: var(--gray-300);
  border-radius: 5px;
  border: 1px solid var(--gray-200);
  cursor: pointer;
}
.inputFilter:focus-within,
.inputSelect:focus-within {
  box-shadow: 0 0 5px var(--gray-200);
}
.inputFilter:focus,
.inputSelect:focus {
  outline: transparent;
}
