.topNavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  height: 4.5em;
  align-items: center;
  background-color: var(--white);
  padding: 1rem;
  box-shadow: 0px 8px 20px -6px var(--black-14);
  color: var(--azul-tech);
}

.logoContainer {
  display: flex;
  margin-left: 0.6rem;
  margin-right: 3.8em;
}

.logo {
  margin-right: 0.5em;
}

.toogleTopNav {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
}

.toogleTopNav:hover {
  transform: scale(1.05);
}

.toogleTopNav:active {
  transform: scale(0.95);
  box-shadow: none;
}

.user {
  font-size: 0.85em;
  display: flex;
  align-items: flex-end;
  margin-right: 0.9em;
  cursor: default;
}

.spacer {
  display: flex;
  flex: 1;
}
